<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Falkirk Council</title>
    <link rel="stylesheet" href="/css/site.min.css?v=GgiydX7TaMaK1v-VBcEUt3piwx_RVMuRuDymabwv7ms" />
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/img/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/img/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Falkirk" />
    <meta property="og:type" content="website" />
    <meta property="og:logo" content="/img/social-logo.png" />

    <meta name="htmx-config" content='{"selfRequestsOnly":false,"allowScriptTags":true,"indicatorClass":"htmx-indicator","historyCacheSize":0,"refreshOnHistoryMiss":true,"withCredentials":false,"defaultFocusScroll":false,"getCacheBusterParam":false,"globalViewTransitions":false,"antiForgery":{"formFieldName":"__RequestVerificationToken","headerName":"RequestVerificationToken","requestToken":"CfDJ8IadIJlLUVRGuqpoFNS93K3i6FVhgiHqMqkMw_gqJgUOEbVyxxlL-t-KP0O9voO2qYepYFpJvQW73lKeetvAoSSfpaKoVuz6cbuuMUUjDFITnlubNa5aZBZCvdwlFc6xm-hahFXE7VzVD_mZtRIofOQ"}}' />
    <script type="application/ld+json">
        {
           "@context": "http://schema.org",
           "@type": "WebSite",
           "url": "https://www.falkirk.gov.uk/",
           "potentialAction": {
             "@type": "SearchAction",
             "target": "https://www.falkirk.gov.uk/search?query={search_term_string}",
             "query-input": "required name=search_term_string"
           }
        }
    </script>
    <script src="/js/toggler.js?v=Zg4279re9MCHea43wrpbI0EeyVBPqB4cMPZLorh-lKQ"></script>
    
    <link rel="canonical" href="https://www.falkirk.gov.uk" />
    <meta name="forge" content="index" />
    <meta name="description" content="We are a local government organisation providing a wide range of services to residents, businesses and visitors across the Falkirk Council area.">
    <meta property="og:title" content="Falkirk Council" />
    <meta property="og:description" content="We are a local government organisation providing a wide range of services to residents, businesses and visitors across the Falkirk Council area." />
    <meta property="og:image" content="https://www.falkirk.gov.uk/img/banner-standard.jpg" />

    <style>
        main header {
            background: url("/img/heros/kelpies-spring.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 50vh;
        }

        .cllr img{
            max-width: 100px;
        }

        .fflogo{
            max-width: 300px;
        }
        
        .ff-blurb{
            background: #19597c;
        }

        .leisure-container{
            background: url("/img/leisure/bubbles.svg");
            background-repeat: repeat-x;
            background-position: center top;
            background-color: #184e6aff;
            border-bottom: 8px solid sandybrown;
        }

        .waves{
            width: 100%;
            height: 150px;
            background: url(/img/leisure/waves.svg) no-repeat;
            background-size: 100% 150px;
        }

        .fth{
            max-width: 500px;
            width: 500px;
            background: url("https://fcwebsites.blob.core.windows.net/www/media/1727e73a-a67a-47af-86cd-bcef86c941d4/Concept design thumbnail.jpg");
            background-position: center;
            background-size: cover;
            border-right: 2px solid var(--bs-border-color) !important;
        }
        
    </style>

</head>
<body>

    <header id="site-header">

        <div class="container pb-3">
            <nav id="skip-links" aria-label="Skip links">
                <ul>
                    <li>
                        <a href="#contents">
                            Skip to contents
                        </a>
                    </li>


                </ul>
            </nav>

            <div class="d-flex">
                <div class="flex-grow-1 pe-3 align-self-center">
                    <div id="logo">
                        <a href="/">
                            <h1 class="sr-only">Falkirk Council</h1>
                        </a>
                    </div>
                </div>
                <div class="text-end">

                    <button id="accessibilityToggle" title="Accessibility" type="button" class="btn text-white" data-bs-toggle="collapse" data-bs-target="#siteWCAG" aria-expanded="false" aria-controls="siteWCAG">
                        <i class="fa-solid fa-universal-access"></i> <span class="sr-only">Show accessibility toolbar</span>
                    </button>

                    <button id="siteSearchToggle" title="Menu" type="button" class="btn text-white" accesskey="s"
                            data-bs-toggle="collapse" data-bs-target="#searchMenu" aria-expanded="false" aria-controls="searchMenu">
                        <i class="fas fa-magnifying-glass" title="Search"></i> <span class="d-none d-lg-inline" id="siteSearchVerb">Services</span>
                    </button>

                </div>
            </div>
        </div>

        <div class="bg-body-tertiary collapse" id="siteWCAG" aria-label="Accessibility">
            <div class="container py-2">
                <div class="d-flex align-items-center justify-content-between">


                    <div>
                        <a href="/help" class="me-2 btn btn-sm btn-dark border-2 text-nowrap">
                            <i class="fa-solid fa-universal-access opacity-75"></i> Help <span class="d-none d-md-inline">using this website</span>
                        </a>

                        <button title="Accessibility tools" type="button" id="reciteMeBtn" class="me-2 text-nowrap btn btn-sm btn-warning">
                            <i class="fa-solid fa-language opacity-75"></i> <span class="d-none d-md-inline">Speak / Translate</span> <span class="d-md-none">Tools</span>
                        </button>
                    </div>

                    <div class="d-flex align-items-center">
                        <div class="form-check form-switch pe-3 mb-0">
                            <input class="form-check-input" type="checkbox" role="switch" id="darkModeSwitch">
                            <label class="form-check-label" for="darkModeSwitch">
                                <i class="fas fa-moon" style="color: rebeccapurple"></i> <span class="d-none d-md-inline">Dark mode</span>
                            </label>
                        </div>

                        <div class="form-check mb-0" title="Automatically choose based on my browser defaults">
                            <input class="form-check-input" type="checkbox" id="inheritBrowserDefault">
                            <label class="form-check-label" for="inheritBrowserDefault"><i class="fa-solid fa-circle-half-stroke"></i> <span class="d-none d-md-inline">Automatic</span></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <nav class="bg-body-tertiary collapse" id="searchMenu" aria-label="Primary" role="navigation">
            <div class="container py-3">
                <div class="mb-4">
                    <div class="mb-1 d-flex justify-content-between">
                        <div>
                            <h2 class="fs-4 fw-bold pt-2 mb-0">
                                <span class="opacity-50"><i class="fad fa-list-tree" title="Group"></i></span> Services

                            </h2>
                            <p class="text-secondary">
                                Choose a service area or search

                            </p>
                        </div>
                        <img src="/img/spinner.svg" class="spinner htmx-indicator" id="search-spinner" aria-label="Search loading indicator" />


                    </div>
                    <label for="siteSearch" class="form-label visually-hidden">Search this website:</label>

                    <input hx-swap="innerHTML" hx-target="#searchResults" hx-trigger="input changed delay:1000ms, keyup[key=='Enter']" hx-push-url="true" hx-indicator="#search-spinner" type="search" id="siteSearch" class="form-control form-control-lg" placeholder="Search here..." name="query" hx-history="false" hx-get="/search" />

                    <div id="searchResults">
                    </div>
                </div>

                <div id="primary-nav-services">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-6 p-1">
                                    <a class="btn d-block btn-success flex-fill mx-1 mb-2 text-nowrap" href="/pay">
                                        <i class="fas fa-pound-sign" title="Pay it"></i> Pay for it
                                    </a>

                                </div>
                                <div class="col-6 p-1">
                                    <a class="btn d-block btn-primary flex-fill mx-1 mb-2 text-nowrap" href="/request">
                                        <i class="fas fa-pencil" title="Request it"></i> Request it
                                    </a>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-6 p-1">
                                    <a class="btn d-block btn-danger flex-fill mx-1 mb-2 text-nowrap" href="/report">
                                        <i class="fas fa-map-pin" title="Report it"></i> Report it
                                    </a>

                                </div>
                                <div class="col-6 p-1">
                                    <a class="btn d-block btn-warning flex-fill mx-1 mb-2 text-nowrap" href="/find">
                                        <i class="fas fa-search" title="Find it"></i> Find it
                                    </a>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div hx-trigger="intersect once" hx-target="this" hx-swap="outerHTML" hx-get="/api/themes/all">
                    </div>
                </div>
            </div>
        </nav>
    </header>   
    <main role="main">
        <header class="">
            <div class="container">
                
    <div class="row">
        <div class="col-xl-7 col-lg-6">
        </div>
        <div class="col-xl-5 col-lg-6">
            <div id="do-it-today" class="bg-body-blur">
                <h2 id="intro-header">
                    Welcome
                </h2>

                <p id="intro-text">We are a local government organisation providing a wide range of services to residents, businesses and visitors across the Falkirk Council area.</p>


                <div class="row">
                    <div class="col-6 p-1">
                        <a class="btn btn-sm d-block btn-success flex-fill mx-1 mb-2 text-nowrap" href="/pay">
                            <i class="fas fa-pound-sign" title="Pay it"></i> Pay for it
                        </a>

                    </div>
                    <div class="col-6 p-1">
                        <a class="btn btn-sm d-block btn-primary flex-fill mx-1 mb-2 text-nowrap" href="/request">
                            <i class="fas fa-pencil" title="Request it"></i> Request it
                        </a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6 p-1">
                        <a class="btn btn-sm d-block btn-danger flex-fill mx-1 mb-2 text-nowrap" href="/report">
                            <i class="fas fa-map-pin" title="Report it"></i> Report it
                        </a>
                    </div>
                    <div class="col-6 p-1">
                        <a class="btn btn-sm d-block btn-warning flex-fill mx-1 mb-2 text-nowrap" href="/find">
                            <i class="fas fa-search" title="Find it"></i> Find it
                        </a>
                    </div>
                </div>


            </div>

            <div class="tile mb-4" style="background-color: #0e6fbc;">
                <div class="tile-inside">
                    <div class="tile-icon">
                        <i class="fad fa-user-lock text-white"></i>
                    </div>
                    <div class="tile-text rounded-start-0">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">
                                <a href="https://my.falkirk.gov.uk/" class="tile-link fw-bold" target="_blank" title="Click to access your MyFalkirk account">
                                    MyFalkirk
                                </a>
                                <div class="tile-desc">
                                    <span>Save time, do it online!</span>
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right" title="Icon indicating external link to MyFalkirk"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>


            </div>
        </header>
        <div id="page-body">
            
<div class="nav-container" id="contents">
    <div class="container pt-4">

        <div class="row">
            <div class="col-md-7">
                <h2 class="fs-4 mb-0">
                    <i class="fad fa-list-tree" title="Group"></i>  Services

                    <img src="/img/spinner.svg" class="spinner htmx-indicator" id="home-search-spinner" aria-label="Services loading indicator" />
                </h2>
                <p class="text-secondary mb-2">Choose a service area or search</p>
            </div>
            <div class="col-md-5">

                <div class="input-group">
                    <span class="input-group-text">
                        <label for="siteSearchHome">
                            <i class="fas fa-magnifying-glass" title="Search"></i>
                            <span class="sr-only">Search this website:</span>
                        </label>
                    </span>

                    <input hx-swap="innerHTML" hx-target="#searchResultsHome" hx-trigger="input changed delay:1000ms, keyup[key=='Enter']" hx-push-url="true" hx-indicator="#home-search-spinner" hx-history="false" type="search" id="siteSearchHome" class="form-control form-control-lg" placeholder="Search here..." name="query" hx-get="/search" />


                </div>

            </div>
        </div>
        <div id="searchResultsHome">
        </div>
        
<div id="primary-nav-tiles">
    <div class="tiles">
            <div class="tile tile-has-icon" style="background: #208c6f;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fas fa-recycle text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/bins-rubbish-and-recycling">
                                    Bins, rubbish and recycling
                                </a>
                                <div class="tile-desc">
                                    Household waste, rubbish and litter, trade waste
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #b22470;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fad fa-file-certificate text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/births-deaths-and-marriages">
                                    Births, deaths and marriages
                                </a>
                                <div class="tile-desc">
                                    Register a birth, certificates, civil partnerships
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #1c374d;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fas fa-industry text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/business-and-investment">
                                    Business and investment
                                </a>
                                <div class="tile-desc">
                                    Business rates, business development, commercial activities
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #e16f7b;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fas fa-baby-carriage text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/children-and-families">
                                    Children and families
                                </a>
                                <div class="tile-desc">
                                    Adoption, fostering, early learning, childcare
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #6586c8;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fad fa-check-to-slot text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/council-and-democracy">
                                    Council and democracy
                                </a>
                                <div class="tile-desc">
                                    Elections, councillors, community councils
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #dc3545;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fas fa-shield text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/crime-and-antisocial-behaviour">
                                    Crime and antisocial behaviour
                                </a>
                                <div class="tile-desc">
                                    Fraud, hate incidents, scams
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #57a607;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fas fa-tree text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/environment">
                                    Environment
                                </a>
                                <div class="tile-desc">
                                    Food safety, animal health, health and safety
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #2e6d94;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fas fa-pound-sign text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/fees-charges">
                                    Fees and charges
                                </a>
                                <div class="tile-desc">
                                    Council Tax, how to pay, reductions, exemptions
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #d05d8f;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fad fa-hand-holding-heart text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/help-and-support">
                                    Getting help and support
                                </a>
                                <div class="tile-desc">
                                    Cost of living support, personal budgeting, benefit fraud
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #4f8295;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fad fa-house-building text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/homes-and-property">
                                    Homes and property
                                </a>
                                <div class="tile-desc">
                                    Council housing, homelessness, pay your rent
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #525252;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fas fa-scale-balanced text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/law-and-licensing">
                                    Law and licensing
                                </a>
                                <div class="tile-desc">
                                    Trading standards, licensing
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #6f84f4;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fad fa-users text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/people-and-communities">
                                    People and communities
                                </a>
                                <div class="tile-desc">
                                    Community assets, equality and diversity
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #5e72a2;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fas fa-clipboard-list-check text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/planning-and-building-standards">
                                    Planning and building standards
                                </a>
                                <div class="tile-desc">
                                    Building warrants, planning permission, local planning
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #3d3d3d;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fas fa-car text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/roads-parking-and-transport">
                                    Roads, parking and transport
                                </a>
                                <div class="tile-desc">
                                    Roads maintenance, gritting, parking fines
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tile tile-has-icon" style="background: #399d97;">
                <div class="tile-inside">

                    <div class="tile-icon">
                        <i class="fas fa-graduation-cap text-white"></i>
                    </div>

                    <div class="tile-text">
                        <div class="d-flex h-100">
                            <div class="flex-grow-1">

                                <a class="d-block flex-grow-1 stretched-link text-reset" href="/service/schools-and-education">
                                    Schools and education
                                </a>
                                <div class="tile-desc">
                                    School meals, holiday dates, admissions, early learning
                                </div>
                            </div>
                            <div style="align-content: center;">
                                <i class="tile-arrow fas fa-chevron-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>



        <div class="pb-3 text-center">
            <a class="btn btn-secondary" href="/services#services">
                All services
            </a>
        </div>
    </div>
</div>
<div class="local-container">
    
<div class="container mt-4">
    <div class="bg-body-tertiary rounded border border-2 p-3 mb-3">
        <div class="d-flex mb-2">
            <div class="flex-grow-1">
                <div class="align-items-center">
                    <h2 class="fs-5 mb-0">
                        <i class="fa-solid fa-map-pin text-danger me-2"></i> <span id="local-address">Local to you</span>
                    </h2>   
                    <p class="small text-secondary">Councillors, polling place, schools, recycling collections</p>
                </div>               
            </div>

            <div class="text-end">
                <div id="local-forget"></div>
            </div>

          
        </div>
        <form method="get" action="https://streets.falkirk.gov.uk/search" class="mb-3">
            <div class="input-group">
                <input id="streetSearch" name="query" class="form-control form-control-sm" type="search" placeholder="Postcode or address" aria-label="Search for your local info">
                <button class="btn btn-warning" type="submit">Search</button>
            </div>
        </form>

        <div>
            <a href="https://recycling.falkirk.gov.uk" id="local-recycling" class="btn btn-tertiary bg-body shadow-sm mb-1"><i class="fas fa-recycle opacity-75 text-success" title="Recycle"></i> Recycling</a>
            <a href="https://streets.falkirk.gov.uk" id="local-streets" class="btn btn-tertiary bg-body shadow-sm mb-1"><i class="fas fa-street-view text-primary opacity-75" title="Streets"></i> Streets</a>
            <a href="https://maps.falkirk.gov.uk" id="local-maps" class="btn btn-tertiary bg-body shadow-sm mb-1"><i class="fas fa-location-dot opacity-75" title="Event" style="color: #71396d;"></i> Maps</a>
            <a href="https://events.falkirk.gov.uk" id="local-events" class="btn btn-tertiary bg-body shadow-sm mb-1"><i class="fas fa-calendar-star opacity-75" title="Event" style="color: #0f7299;"></i> Events</a>
        </div>
        <div class="row border-top mt-3 pt-3 d-none" id="local-results">
            <div class="col-md-6">

                <div id="local-political" class="d-none mb-3">
                    <h3 class="fs-6"><i class="fas fa-check-to-slot opacity-75" title="Council and Democracy"></i> Council and democracy</h3>

                    <div class="bg-body p-2 border">
                        <table class="table mb-0 table-borderless table-hover small">
                            <tr>
                                <th>Council Ward </th>
                                <td id="local-wardName">
                                   
                                </td>
                            </tr>
                            <tr>
                                <th>Polling place</th>
                                <td id="local-pollingPlace"></td>
                            </tr>
                            <tr>
                                <th>Scottish Constituency</th>
                                <td id="local-scot"></td>
                            </tr>
                            <tr>
                                <th>UK Constituency</th>
                                <td id="local-uk"></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="local-schools" class="d-none mb-3">
                    <h3 class="fs-6"><i class="fas fa-graduation-cap opacity-75" title="Schools"></i> Schools</h3>

                    <div class="small border bg-body p-3">
                        <div class="fw-bold">
                            Primary schools
                        </div>
                        <div id="local-primary"></div>

                        <div class="fw-bold mt-3">Secondary schools</div>
                        <div id="local-secondary"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="local-cllrs" class="d-none mb-3">
                    <h3 class="fs-6">Councillors</h3>
                    <div id="cllrs-data"></div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<div class="news-container">
    <div class="container pt-3 mb-4">

        <div>
            <h2 class="fs-5 mb-0">
                Latest news
                <img src="/img/spinner.svg" class="spinner htmx-indicator" id="news-spinner" aria-label="News loading indicator" />
            </h2>
            <p class="small text-secondary">Follow us on <a href="https://x.com/FalkirkCouncil" title="x.com">Twitter</a> or <a href="https://www.facebook.com/falkirkcouncil/">Facebook</a> for the latest news updates</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div hx-get="/api/pages/section/latest/219" hx-trigger="intersect once" hx-swap="outerHTML"></div>
            </div>

            <div class="col-lg-6">
                <div class="d-flex border rounded mb-4 bg-body-tertiary position-relative">
                    <div class="fth rounded-start"></div>
                    <div class="p-3 flex-grow-1 wrap-pretty">
                        <a href="/fth" class="stretched-link">The new Falkirk Town Hall</a>
                        <div class="small">We're investing in a new Falkirk Town Hall that will help revitalise the town centre and create a vibrant space for arts, events and the community.</div>
                    </div>
                </div>


                <div hx-get="/api/pages/section/219?mode=news&take=3&skip=1" hx-trigger="intersect once" hx-swap="outerHTML" hx-indicator="#news-spinner"></div>


                <div class="bg-body-tertiary p-2 rounded text-center">
                    <a href="/news/council" class="btn btn-sm btn-light border">Council news</a>
                    <a href="/news/employees" class="btn btn-sm btn-light border">Employee news</a>
                    <a href="/news/council-leader-updates" class="btn btn-sm btn-light border">Council Leader</a>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="waves"></div>
<div class="leisure-container">
    <div class="container ">
        <h2 class="sr-only">Feel Falkirk</h2>
        <a href="https://www.falkirkleisureandculture.org/" target="_blank"><img src="/img/leisure/feel-falkirk-logo.svg" alt="Feel Falkirk logo" class="fflogo mb-3" /></a>
        <div class="row">          
            <div class="col-lg-6">
                <div>                     
                    <div class="small text-white rounded p-3 mb-3 ff-blurb">
                        From rich heritage, arts, and history to world-renowned attractions – discover all that Falkirk has to offer. 
                        Explore a diverse programme of local events and cinema listings to see what's happening in the area.
                        <div class="mt-2">
                            <a href="https://www.falkirkleisureandculture.org/" class="btn btn-light" target="_blank">Feel Falkirk</a>
                            <a href="https://www.falkirkleisureandculture.org/whats-on/" class="btn btn-warning" target="_blank">What's on</a>
                        </div>
                    </div>                   
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card tile mb-3">
                            <img src="/img/leisure/hippodrome.jpg" alt="Photo of Hippodrome" class="rounded-top">
                            <div class="card-body wrap-pretty">
                                <a href="https://www.hippodromecinema.co.uk/" class="stretched-link" target="_blank">Hippodrome Cinema</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card tile mb-3">
                            <img src="/img/leisure/helix.jpg" alt="Photo of Helix Park" class="rounded-top">
                            <div class="card-body wrap-pretty">
                                <a href="https://www.thehelix.co.uk/" class="stretched-link" target="_blank">Helix Park</a>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="col-lg-6">
                <div class="card tile shadow-sm mb-4">
                    <img src="/img/leisure/swimming.jpg" alt="Photo of swimmers" class="rounded-top">
                    <div class="card-body wrap-pretty">
                        <h3 class="mb-0">Learn to swim!</h3>
                        <p class="small text-secondary">We have swimming lessons available for all ages and abilities.</p>
                        <div>
                            <a class="btn btn-success btn-sm stretched-link" href="https://www.falkirkleisureandculture.org/sport/swimming/" target="_blank">Sign up today</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="youtube-container bg-body-tertiary border-top">
    <div class="container">
        <div class="p-3">
            <div>
                <h2 class="fs-5 mb-0">
                    Committees
                    <img src="/img/spinner.svg" class="spinner htmx-indicator" id="youtube-spinner" aria-label="YouTube loading indicator" />
                </h2>
                <p class="small text-secondary">
                    We broadcast our <a href="/councillors-and-decision-making">Committees</a> on
                    <a href="https://www.youtube.com/@falkirkcouncilcommittees5600" target="_blank">YouTube</a>
                </p>
            </div>


            <div hx-trigger="intersect once" hx-target="this" hx-swap="outerHTML" hx-indicator="#youtube-spinner" hx-get="/api/youtube/latest">
            </div>
        </div>
    </div>
</div>


        </div>
    </main>

    <footer class="p-3 border-top" role="contentinfo">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 mb-3">
                    <ul class="list-inline mb-1 small">
                        <li class="list-inline-item">
                            <a href="#top" class="text-decoration-none text-secondary" title="Scroll to the top of this page">↑</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/help/accessibility" class="text-secondary">Accessibility</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-secondary" href="/contact-us">Contact us</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/help/cookies" class="text-secondary">Cookies</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-secondary" href="/privacy">Privacy</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-secondary" href="/sitemap">Sitemap</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/help/terms-and-conditions" class="text-secondary">Terms</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-secondary" href="/news">News</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-secondary" href="/employees">Employees</a>
                        </li>

                    </ul>

                    <div class="small">&copy; 2026 - Falkirk Council</div>
                </div>
                <div class="col-lg-4">
                    <div class="social">
                        <a href="https://www.youtube.com/FalkirkCouncil" title="YouTube" target="_blank" class="text-reset btn btn-sm border bg-body">
                            <i class="fa-brands fa-youtube"></i> <span class="d-none d-xl-inline">YouTube</span>
                        </a>
                        <a href="https://www.facebook.com/falkirkcouncil/" title="Facebook" target="_blank" class="text-reset btn btn-sm border bg-body">
                            <i class="fa-brands fa-facebook"></i> <span class="d-none d-xl-inline">Facebook</span>
                        </a>
                        <a href="https://x.com/FalkirkCouncil" title="Twitter (X)" target="_blank" class="text-reset btn btn-sm border bg-body">
                            𝕏 <span class="d-none d-xl-inline">Twitter</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/htmx/htmx.min.js"></script>
    <script src="/js/site.js?v=a-XoPJ8h6wrVMsmYI9gn1ANOFBW8w7GWzAgogPoCRXM" type="module"></script>
    <script src="/js/reciteme.js?v=1uTt9JSxTe2_3cQFHH9u7Z2eJQvHShFZoU6yuISUCyc"></script>
    <script>document.body.attributes.__htmx_antiforgery||(document.addEventListener("htmx:configRequest",(e=>{if("GET"===e.detail.verb.toUpperCase())return;let t=htmx.config.antiForgery;if(t){if(e.detail.parameters[t.formFieldName])return;t.headerName?e.detail.headers[t.headerName]=t.requestToken:e.detail.parameters[t.formFieldName]=t.requestToken}})),document.addEventListener("htmx:afterOnLoad",(e=>{if(e.detail.boosted){const t="meta[name=htmx-config]",r=(new DOMParser).parseFromString(e.detail.xhr.responseText,"text/html").querySelector(t);if(r){const e=document.querySelector(t),a="antiForgery";htmx.config[a]=JSON.parse(r.attributes.content.value)[a],e.replaceWith(r)}}})),document.body.attributes.__htmx_antiforgery=!0);</script>
    
    <script type="module" src="/js/home.js?v=0q0wWv5FPXlIVYDSzLJaigFgwXWMoXsfuV0OqfP6uj8"></script> 

    <script async src="https://siteimproveanalytics.com/js/siteanalyze_369877.js"></script>
</body>
</html>

